rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Global catch-all allowing read & write to any document and collection
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
